.arrivals-container {
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.arrivals-title {
  color: black;
  font-size: 2rem;
}

.arrivals-buttons {
  display: flex;
  gap: 0.5rem;
}

.arrivals-helper-text {
  color:darkgray;
}

.arrivals-line-item {
  display: flex;
  justify-content: space-between;
}

.arrival-cards-container{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

}
