.line-status{
    text-transform: uppercase;
    font-weight: bold;
    flex-direction: row;
    font-size: 0.9rem;

}

.dot-status{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 25%;
   
}