.line-status {
  text-transform: uppercase;
  font-weight: bold;
  flex-direction: row;
  font-size: 0.9rem;
}

.dot-status {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 45%;
  gap: 0.2rem;
}
