.line-status {
  text-transform: uppercase;
  font-weight: bold;
  flex-direction: row;
  font-size: 0.8rem;
}

.dot-status {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 45%;
  gap: 0.2rem;
}

@media (max-width: 768px) {
  .line-status {
    font-size: 0.6rem;
  }

  .line-name {
    font-size: small;
  }

  .svg-inline--fa.fa-xs {
    font-size: 0.5rem;
  }

  .lines-component {
    padding: 0.75rem;
  }
}
